#edit-popup{
  background-color: rgba(45, 45, 47, 0.5);
  flex-direction: row;
}

.modal-edit-popup {
  margin : auto;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1;
  left: 12.5%;
  top: 12.5%;
  width: 80%; /* Full width */
  height: 80%; /* Full height */
  background-color: rgba(45, 45, 47, 0.5); 
  
}

/* Modal Content */
.popup-navigation-menu {
  background-color: #fefefe;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
  border: 1px solid #888;
  width: 80%;
  overflow-y: auto;
}

.popup-edit-menu {
  background-color: #fefefe;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
  border: 1px solid #888;
  width: 100%;
}


.edit-option-table{
  text-align: left;
  width: 100%;
}
.edit-option-table tr{
  width: 100%;
}
.edit-option-table td:nth-of-type(1){
  width: 70%;
} 
.edit-option-table td input[type="text" i] {
  width: 50%;
}

.colorpicker{
  width: 50px !important;
  height: 27px !important;
}

.accordion.selected-option{
  background-color: rgb(102, 14, 36) !important;
  color: #ccc !important;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.2s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc !important;
    color: #444 !important;
  }

  .selected-accordion{
    background-color: #444 !important;
    color: #ccc !important;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }